.header-about p {
    font-size: 16px;
    line-height: 30px;
}
.about-blurb {
    max-width: 630px;
}
.about-blurb h1 {
    font-size: 44px;
}
.header-about img {
    max-width: 90%;
}
@include media-breakpoint-up(lg) {
    .about-blurb {
        max-width: 500px;
    }
    .header-about img {
        max-width: none;
    }
    .about-blurb h1 {
        font-size: 50px;
    }
    .header-about p {
        font-size: 18px;
    }
}